<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Nombre: <%= nombre %></h2>
    <h2>NSS: <%= nss %></h2>
    <h2>Edad: <%= edad %></h2>
    <h2>Tipo de sangre: <%= tipoSangre %></h2>
</body>
</html>